<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onezao.zao.zaov">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />


    <application
        android:name="com.onezao.zao.myapp.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.onezao.zao.recycleview0306.RecycleViewActivity"></activity>
        <activity android:name="com.onezao.zao.gridrecycleview0306.GridRecycleActivity"></activity>
        <activity android:name="com.onezao.zao.gridrecycleview0306.GridRecycleVerticalActivity"></activity>
        <activity android:name="com.onezao.zao.fourlevel0306.FourLevelActivity"></activity>
        <activity android:name="com.onezao.zao.staggeredrecycleview0306.StaggeredActivity"></activity>
        <activity android:name="com.onezao.zao.differentitem0306.DifferentItemActivity"></activity>
        <activity android:name="com.onezao.zao.practices.okhttp0306.OkHttpActivity"></activity>

        <activity android:name="com.onezao.zao.practices.alertdialog0306.AlertDialogActivity"></activity>
        <activity android:name="com.onezao.zao.practices.picgallery0306.PicGalleryActivity"></activity>
        <activity android:name="com.onezao.zao.practices.handlerdelay0306.DelayHandlerActivity"></activity>
        <activity android:name="com.onezao.zao.practices.viewanim0306.ViewAnimationActivity"></activity>
        <activity android:name="com.onezao.zao.practices.paintboard0306.PaintBoardActivity"></activity>
        <activity android:name="com.onezao.zao.practices.sendbroadcast0306.SendBroadcastActivity"></activity>
        <activity android:name="com.onezao.zao.practices.pressurediagram0306.PressureDiagramActivity"></activity>

        <activity android:name="com.onezao.zao.practices.myzxing0306.CommonScanActivity"></activity>
        <activity android:name="com.onezao.zao.practices.myzxing0306.CreateCodeActivity"></activity>
        <activity android:name="com.onezao.zao.practices.myzxing0306.MyScanActivity"></activity>
        <activity android:name="com.onezao.zao.practices.mynotitification0306.NotificationActivity"/>

        <activity android:name="com.onezao.zao.javamail.JavaMailActivity"></activity>
        <activity android:name="com.onezao.zao.javamail.JavaMailSetupActivity"
                  android:exported="true"></activity>

        <activity android:name="com.onezao.zao.practices.gesturelock0306.GestureLockActivity"></activity>
        <activity android:name="com.onezao.zao.practices.gesturelock0306.GestureVerifyActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.onezao.zao.practices.gesturelock0306.GestureEditActivity" android:screenOrientation="portrait"></activity>

        <activity android:name="com.onezao.zao.practices.viewpager0306.ViewPagerActivity"/>
        <activity android:name="com.onezao.zao.practices.popupwindow0306.PopupWindowActivity"/>
        <activity android:name="com.onezao.zao.practices.toggleview0306.ToggleViewActivity"/>

        <activity android:name="com.onezao.zao.practices.voicebroadcast0306.VoiceBroadcastActivity"/>

        <activity android:name="com.onezao.zao.practices.versionupdate0306.VersionUpdateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.onezao.zao.practices.screenrecord0306.ScreenRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.onezao.zao.practices.taiji0306.BGActivity"/>

        <activity android:name="com.onezao.zao.practices.eventbus0306.EventBusActivity"/>
        <activity android:name="com.onezao.zao.practices.eventbus0306.EventBusSecondActivity"/>
        <activity android:name="com.onezao.zao.practices.eventbus0306.EventBusThirdActivity"/>
        <activity android:name="com.onezao.zao.practices.eventbus0306.EventBusStickyActivity"/>
        <activity android:name="com.onezao.zao.practices.eventbus0306.order.EventBusOrderActivity"/>
        <activity android:name="com.onezao.zao.practices.eventbus0306.order.EventBusOrderSecondActivity"/>

        <activity android:name="com.onezao.zao.practices.iciba0306.IcibaActivity"/>
        <activity android:name="com.onezao.zao.practices.youdao0306.YoudaoActivity"/>

        <activity android:name="com.onezao.zao.practices.rxjava0306.RxJavaActivity"/>

        <activity android:name="com.onezao.zao.practices.agentview0306.AgentViewActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.onezao.zao.practices.bar0306.BarActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.onezao.zao.practices.security0306.activity.ClosePatternPswActivity" />
        <activity android:name="com.onezao.zao.practices.security0306.activity.SettingPatternPswActivity" />
        <activity android:name="com.onezao.zao.practices.security0306.activity.SplashVerifyActivity" />
        <activity android:name="com.onezao.zao.practices.security0306.activity.VerifyActivity"
                  android:launchMode="singleTask"/>
        <activity android:name="com.onezao.zao.practices.security0306.activity.VerifyFingerActivity" />

        <receiver android:name="com.onezao.zao.practices.sendbroadcast0306.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.onezao.broadcast.action"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.onezao.zao.practices.applistener0306.AppInstallReceiver">
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="com.onezao.zao.practices.screenrecord0306.RecordService"/>
        <service android:name="com.onezao.zao.practices.screenrecord0306.RecordService2"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.onezao.zao.zaov.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>