<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onezao.zao.zaov">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.onezao.zao.recycleview0306.RecycleViewActivity"></activity>
        <activity android:name="com.onezao.zao.gridrecycleview0306.GridRecycleActivity"></activity>
        <activity android:name="com.onezao.zao.gridrecycleview0306.GridRecycleVerticalActivity"></activity>
        <activity android:name="com.onezao.zao.fourlevel0306.FourLevelActivity"></activity>
        <activity android:name="com.onezao.zao.staggeredrecycleview0306.StaggeredActivity"></activity>
        <activity android:name="com.onezao.zao.differentitem0306.DifferentItemActivity"></activity>
        <activity android:name="com.onezao.zao.refreshrecycleview0306.RefreshActivity"></activity>
        <activity android:name="com.onezao.zao.okhttp0306.OkHttpActivity"></activity>
    </application>

</manifest>